#imageContainer {
  display: flex;
  font-size: x-large;
  position: absolute;
  top: 30%;
  left: 20%;
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 2rem;
  border-color: #31349b;
  width: 60%;
  height: 50%;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  overflow-y: auto;
}
#centerLogo {
  border-radius: 35%;
  height: 74%;
  display: flex;
  position: absolute;
  top: 13%;
  left: 34%;
  opacity: 60%;
}
