#imageContainer {
  display: flex;
  font-size: x-large;
  position: absolute;
  top: 30%;
  left: 20%;
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 2rem;
  border-color: #31349b;
  width: 60%;
  height: 50%;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  overflow-y: auto;
}

.preview-images {
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  border-width: 0.2rem;
  width: fit-content;
  transition: all 0.3s ease 0.3s;
}

.image{
  border-style: solid;
  border-radius: 1.5rem;
  border-color: #31349b;
  margin: 0.5rem;
  height: 15rem;
  width: 15rem;
}

.image img{
  max-width: 100%;
  display: block;
  width: auto;
}

#download-btn {
  width: 9rem;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #3213a5;
  border-color: rgb(255, 115, 1);
  border-style: solid;
  border-radius: 1rem;
  margin-left: 1.7rem;
  margin-top: 0.7rem;
  color: white;
}
#centerLogo {
  border-radius: 35%;
  height: 74%;
  display: flex;
  position: absolute;
  top: 13%;
  left: 34%;
  opacity: 60%;
}
