nav {
  height: 80px;
  background: linear-gradient(#31349b, #373bae, #3d42c2);
}
nav h1 {
  position: absolute;
  font-size: 50px;
  font-style: system-ui;
  font-weight: 700;
  top: 10px;
  left: 7%;
  color: white;
}
nav ul {
  float: right;
  margin-right: 25px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a {
  font-family: montserrat;
  position: relative;
  padding: 5px 0;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}
nav ul li a:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}
nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
label #btn,
label #cancel {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
#logo {
  width: 6.8%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1.5rem;
}
#logoDiv {
  display: flex;
  position: absolute;
  top: 0.4%;
  padding-right: 10rem;
  left: 10.5%;
}
@media (max-width: 1118px) {
  nav img {
    left: 8%;
  }
}
@media (max-width: 944px) {
  nav ul li a {
    font-size: 17px;
  }
}
@media (max-width: 860px) {
  label #btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #34495e;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }
}
